In [2]:
#Python Statements
x = 5; y = 6  #multiple statements in a singel line
print(x*y)

30

In [9]:
add = 2 + 3 +\
      5 + 6 +\
      4 + 2
print(add) #multi-lines

22

In [11]:
add = (2 + 3 +\
      5 + 6 +\
      4 + 2)
print(add) #implicit continuation

22

In [12]:
a = 4
b = 5
c = a+b #expression statement
print(c)

9

In [13]:
def fun():
    pass #pass statement

In [17]:
x = 4
y = 10
print(x,y)
del x,y #delete statement
print(x,y)

4 10

NameError: name 'x' is not defined

In [18]:
def add(n1,n2):
    return n1+n2 #return statement
res = add(5,6)
print(res)

11

In [19]:
import datetime

today = datetime.datetime.now()
print(today)

2022-12-21 07:31:56.549281

In [22]:
#this is python
#
#
''' python class
in the weekdays.
Time is 7AM'''

' python class\nin the weekdays.\nTime is 7AM'

In [24]:
print("if there is a class I am doing programs")

if there is a class I am doing programs

In [28]:
#Variables
# mutable and immutable
x = 5
y = 8.9
z = "First Program"
print(x,y,z)
print(type(x))
print(type(y))
print(type(z))

x = "Changed into String"
y = 4
z = 5.6
print(x,y,z)

a = 3 + 6j
print(a)
print(type(a))

5 8.9 First Program
<class 'int'>
<class 'float'>
<class 'str'>
Changed into String 4 5.6
(3+6j)
<class 'complex'>

In [ ]:
#Operators
# Aritmetic
# Relational
# Assignment
# Logical
# Membership
# Identity
# Bitwise

In [6]:
a = 10
b = 10
c = a+b
d = a-b
e = a*b
f = a/b
g = a%b
print(c,d,e,f,g)
h = a//b
print(h)

20 0 100 1.0 0
1

In [7]:
#Relational - Comparison 
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a!=b)
print(a==b)

False
False
True
True
False
True

In [11]:
#Assignment
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)
a/=b
print(a)
a%=b
print(a)

30
20
200
20.0
0.0

In [15]:
#Logical
print(True and False)
print(True and True)
print(True or False)
print(not True)

False
True
True
False

In [18]:
#membership
list1 = [1,4,6,8,9]
x = 6
if x in list1:
    print(x)
y = 10
if y not in list1:
    print("Y doesn't exist")

6
Y doesn't exist

In [21]:
#Identity
print(x is y)
print(x is not y)

False
True

In [23]:
#Data Types
#string
str1 = "Python class"
str2 = 'Weekdays at 7AM'
print(str1, str2)
print(type(str1))

Python class Weekdays at 7AM
<class 'str'>

In [29]:
#access the string
print(str1[4])
print(str2[10])
print(str1[-3]) #negative indexing

o
t
a

In [28]:
#length
len(str1)
len(str2)

15

In [35]:
#slicing
print(str1[0:6])
print(str2[3:-1])
print(str1[3:])
print(str2[::-4])

Python
kdays at 7A
hon class
Mtye

In [2]:
#23 Dec

In [3]:
s1 = "this is python class"
s2 = s1.replace("h","r")
print(s1)
print(s2)

this is python class
tris is pytron class

In [4]:
print(s1.upper())

THIS IS PYTHON CLASS

In [5]:
s3 = "WEEKDAYS"
print(s3.lower())

weekdays

In [6]:
print(s1.capitalize())

This is python class

In [7]:
s4 = "WEEKdays"
print(s4.swapcase())

weekDAYS

In [11]:
s5 = "7AMon23Dec"

if s5.isalnum():
    print('yes')
else:
    print('no')

yes

In [15]:
s6 = "python is       "
print(len(s6))
print(s6.rstrip())
s7 = "       Python is"
print(s7.lstrip())

16
python is
Python is

In [16]:
s8 = s1.split("a")
print(s8)

['this is python cl', 'ss']

In [18]:
print(s1.split(" "))

['this', 'is', 'python', 'class']

In [21]:
print(s1[::-1])

ssalc nohtyp si siht

In [22]:
print(s1+s2)

this is python classtris is pytron class

In [26]:
#List
#creating the list
my_list1 = [2,5,7,9,3,"python",5]
my_list2 = list((3,9,6,1))
my_list3 = []
my_list4 = list()
print(my_list1,my_list2,my_list3,my_list4)

[2, 5, 7, 9, 3, 'python', 5] [3, 9, 6, 1] [] []

In [27]:
print(len(my_list1))
print(len(my_list2))
print(len(my_list3))
print(len(my_list4))

7
4
0
0

In [28]:
print(my_list1[4])
print(my_list2[-2])

3
6

In [34]:
print(my_list1[0:4])
print(my_list2[1:2])

[2, 5, 7, 9]
[9]

In [38]:
print(my_list1[-1::])
print(my_list1[::2])

[5]
[2, 7, 3, 5]

In [39]:
for x in my_list1:
    print(x)

2
5
7
9
3
python
5

In [40]:
#adding the items in the list
#append(), insert(), extend()
my_list1.append("Friday")
my_list2.append([45])
print(my_list1)
print(my_list2)

[2, 5, 7, 9, 3, 'python', 5, 'Friday']
[3, 9, 6, 1, [45]]

In [46]:
my_list1.insert(2,"Jupyter")
my_list2.insert(5,["academy"])
print(my_list1)
print(my_list2)

[2, 5, 'Jupyter', 'Jupyter', 'Jupyter', 'Jupyter', 'Jupyter', 'Jupyter', 7, 9, 3, 'python', 5, 'Friday']
[3, 9, 6, 1, 'fita', ['academy'], [45]]

In [48]:
my_list2 = [3, 9, 6, 1, 'fita', ['academy','tnagar','12B'], [45,67,12,43]]
print(my_list2)

[3, 9, 6, 1, 'fita', ['academy', 'tnagar', '12B'], [45, 67, 12, 43]]

In [49]:
print(my_list2[5][1])

tnagar

26 Dec

In [1]:
a = 10
b = 6.9
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [2]:
import cmath

p = cmath.phase(complex(-1.0,1))
print(p)

2.356194490192345

In [3]:
print(oct(a))
print(hex(a))

0o12
0xa

In [4]:
c = a+b
print(c)
print(type(c))

16.9
<class 'float'>

In [6]:
s = "Fita"
x = 90
print(s+str(x))
print(type(x))

Fita90
<class 'int'>

In [12]:
import math

i = 3.5
print(ceil(i))
print(floor(i))

NameError: name 'ceil' is not defined

In [18]:
import math

print(math.factorial(5))
print(math.fabs(-75.66))
print(math.trunc(-75.66))
print(math.pow(5,2))
print(math.log(8))

120
75.66
-75
25.0
2.0794415416798357

In [19]:
#tuple
my_tup1 = (3,7,9,"Fita",18.4,"Fita")
print(my_tup1)
print(type(my_tup1))

(3, 7, 9, 'Fita', 18.4, 'Fita')
<class 'tuple'>

In [20]:
my_tup2 = tuple(('Batch',21,'Dec',2022))
print(my_tup2)

('Batch', 21, 'Dec', 2022)

In [22]:
my_tup3 = ('January',)
print(type(my_tup3))

<class 'tuple'>

In [23]:
print(len(my_tup1))
print(len(my_tup2))
print(len(my_tup3))

6
4
1

In [25]:
for i in my_tup1:
    print(i)

3
7
9
Fita
18.4
Fita

In [28]:
print(my_tup1[1])
print(my_tup1[-2])

7
18.4

In [29]:
print(my_tup1[1:4])

(7, 9, 'Fita')

In [31]:
print(17.4 in my_tup1)

False

In [34]:
sam = list(my_tup1)
print(sam)
sam.append("Dinesh")
my_tup1 = tuple(sam)
print(my_tup1)

[3, 7, 9, 'Fita', 18.4, 'Fita']
(3, 7, 9, 'Fita', 18.4, 'Fita', 'Dinesh')

In [37]:
del my_tup3
my_tup1.pop(2)

NameError: name 'my_tup3' is not defined

28 DEC

In [4]:
#Set - Unordered Unique,
my_set1 = {3,6.7,'Wednesday'}
print(my_set1)
print(type(my_set1))
my_set2 = set(("Kohli","Pandya",100,45.7))
print(my_set2)

{3, 'Wednesday', 6.7}
<class 'set'>
{'Kohli', 100, 45.7, 'Pandya'}

In [8]:
print(len(my_set2))

4

In [10]:
my_set1.add('HCL')
print(my_set1)
my_set1.update([5,8.7,'December'])
print(my_set1)

{3, 'Wednesday', 6.7, 'HCL'}
{3, 5, 6.7, 8.7, 'Wednesday', 'December', 'HCL'}

In [15]:
#my_set1.remove(6.7)
print(my_set1)
my_set1.pop()
print(my_set1)
my_set2.clear()
print(my_set2)
del my_set2

{8.7, 'Wednesday', 'December', 'HCL'}
{'Wednesday', 'December', 'HCL'}
set()

In [17]:
my_set1.add("Kohli")

In [19]:
my_set3 = {"Kohli","Rohit",'HCL'}

In [22]:
my_set4 = my_set1 | my_set3
print(my_set4)
my_set5 = my_set1.union(my_set3)
print(my_set5)

{'December', 'Rohit', 'HCL', 'Kohli', 'Wednesday'}
{'December', 'Rohit', 'HCL', 'Kohli', 'Wednesday'}

In [25]:
print(my_set1 & my_set3)
my_set6 = my_set1.intersection(my_set3)
print(my_set6)

{'Kohli', 'HCL'}
{'Kohli', 'HCL'}

In [29]:
print(my_set1 - my_set3)
print(my_set1.difference(my_set3))

{'December', 'Wednesday'}
{'December', 'Wednesday'}

In [30]:
my_set1.add("Kohli")
print(my_set1)

{'Kohli', 'Wednesday', 'December', 'HCL'}

In [32]:
#Dictionaries - Unique, Mutable, Ordered

my_dict1 = {"1":"CSK","MUM":"5"}
print(my_dict1)
print(type(my_dict1))

{'1': 'CSK', 'MUM': '5'}
<class 'dict'>

In [33]:
my_dict2 = dict({"name":"RCB","num":"KKR"})
print(my_dict2)

{'name': 'RCB', 'num': 'KKR'}

In [35]:
print(my_dict1.keys())
print(my_dict1.values())

dict_keys(['1', 'MUM'])
dict_values(['CSK', '5'])

In [37]:
my_dict1["bowl"] = "Bumbrah"
print(my_dict1)

{'1': 'CSK', 'MUM': '5', 'bowl': 'Bumbrah'}

In [38]:
my_dict2["num"] = "KXI"
print(my_dict2)

{'name': 'RCB', 'num': 'KXI'}

In [39]:
my_dict2.pop("num")
print(my_dict2)

{'name': 'RCB'}

In [41]:
my_dict1.popitem()
print(my_dict1)

{'1': 'CSK'}

In [1]:
#29 Dec

In [3]:
#control flow statements
#if
num = 10
if num > 5:
    print("Num is greater")

Num is greater

In [4]:
if num < 5:
    print("it is lesser")
else:
    print("It is greater")

It is greater

In [6]:
if num < 5: #chain if
    print("It is lesser")
elif num == 7:
    print("It is not 7")
elif num == 10:
    print("It is 10")
else:
    print("It is greater number")

It is 10

In [9]:
#nested if
num1 = int(input("Enter num1:"))
num2 = int(input("Enter num2:"))

if num1 >= num2:
    if num1 == num2:
        print(num1,'and', num2, 'are equal')
    else:
        print(num1,'is greater',num2)
else:
    print(num1,'is smaller',num2)

Enter num1: 5
Enter num2: 10

5 is smaller 10

In [10]:
#for loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [13]:
n = 10
s = 0
i = 1
while i<=n:
    s = s+i
    i = i+2
print(s)

25

In [18]:
#transfer statements - break, continue, pass
for a in range(10):
    if a > 5:
        print("this is break")
        break
    print(a)

0
1
2
3
4
5
this is break

In [22]:
for x in range(2,8):
    if x == 5:
        continue
    else:
        print(x)

2
3
4
6
7

In [27]:
li = [1,3,5,6]
for a in li:
    pass
print(li)

[1, 3, 5, 6]

In [8]:
# 30 Dec
for i in range(0, 6):
    for j in range(i):
        print(i, end=' ')
    print(' ')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [3]:
def fun(n):
    a = 2 * n - 2
    for i in range(0,n):
        for j in range(0,a):
            print(end = ' ')
        a = a - 1
        for j in range(0, i+1):
            print('51', end= ' ')
        print("\r")
fun(5)

        51
       51 51
      51 51 51
     51 51 51 51
    51 51 51 51 51

In [127]:
n = 6
for i in range(1,n):
    for j in range(i, n, 1):
        i = 0
        j = 1
        print(i,end=' ')
        print(j,end=' ')
    print(' ')

0 1 0 1 0 1 0 1 0 1
0 1 0 1 0 1 0 1
0 1 0 1 0 1
0 1 0 1
0 1

In [2]:
#02 Jan - functions
def fita():
    print("Welcome to FITA Academy")

fita()

Welcome to FITA Academy

In [4]:
def course(stu_name,cour_name):
    print("Student name is -", stu_name)
    print("Course name is -",cour_name)
    
course("Prakash","Python")

Student name is - Prakash
Course name is - Python

In [5]:
def add(a,b):
    add = a+b
    return add

add(10,5)

15

In [7]:
from random import randint

print(randint(15,30))
print(range(0,10))

19
range(0, 10)

In [8]:
def cal(n1,n2):
    add = n1+n2
    sub = n1-n2
    mul = n1*n2
    div = n1/n2
    return add,sub,mul,div

cal(10,2)

(12, 8, 20, 5.0)

In [9]:
def gun(a,b,c):
    pass
gun(2,3,4)

In [17]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def show(self): #instance methods
        print("Name is",self.name,"Age  is",self.age)
        
Stu = Student("Lokeesh",27)
Stu.show()

Name is Lokeesh Age  is 27

In [3]:
# Multilevel inheritance (A -- B -- C) --- 09 Jan 2023
class Cricket:
    def Score(self):
        print("This is Cricket class")
        
class Kohli(Cricket):
    def Bat(self):
        print("This is Kohli")

class Rcb(Kohli):
    def Runs(self):
        print("This is RCB")
        
R = Rcb()
R.Runs()
R.Bat()
R.Score()

This is RCB
This is Kohli
This is Cricket class

In [6]:
#Hierarchical - Single parent & Multiple child (A --- B + C + D...)
class Cricket:
    def Score(self):
        print("This is Cricket class")
        
class Kohli(Cricket):
    def Bat(self):
        print("This is Kohli")

class Rcb(Cricket):
    def Runs(self):
        print("This is RCB")

K = Kohli()
K.Bat()
K.Score()
Rc = Rcb()
Rc.Runs()
Rc.Score()

This is Kohli
This is Cricket class
This is RCB
This is Cricket class

In [8]:
#Method Overriding
class Ajith:
    def Collection(self):
        print("More than 200 Cr")
class Vijay(Ajith):
    def Collection(self):
        print("More than 150 cr")

Act = Vijay()
Act.Collection()
A = Ajith()
A.Collection()

More than 150 cr
More than 200 Cr

In [10]:
#Polymorphism

string1 = "Lokesh"
li = [23,5,121,65,87]
print(len(string1))
print(len(li))

6
5

In [12]:
import random
passlen = int(input("enter the length of password"))
s="abcdefghijklmnopqrstuvwxyz01234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ!@#$%^&*()?"
p = "".join(random.sample(s,passlen ))
print(p)

enter the length of password 7

JG)($0r