In [17]:
#Tuple
my_tup = ()
print(my_tup)
tup1 = 2,4,6,7,
my_tup = (1,2,3,4,5)
my_tup1 = (323, "tuple class", 4.6)
my_tup2 = (3,65,[4,7,9],"py")
print(my_tup)
print(my_tup1)
print(my_tup2)

#packing
a,b,c,d = tup1
print(tup1)
print(b)

my_sing= ("hello",)
print(my_sing)

()
(1, 2, 3, 4, 5)
(323, 'tuple class', 4.6)
(3, 65, [4, 7, 9], 'py')
(2, 4, 6, 7)
4
('hello',)

In [22]:
print(my_tup1[2])
print(my_tup2[2][2])
print(my_tup2[-2][1])

4.6
9
7

In [25]:
print(my_tup1[1:])
print(my_tup1[0:1])
print(my_tup2[-2:])
print(my_tup2[-2][1:])

('tuple class', 4.6)
(323,)
([4, 7, 9], 'py')
[7, 9]

In [30]:
my_tup2[2][0] = "change"
print(my_tup2)
my_tup1 = (3,6,8,9)
print(my_tup1)

(3, 65, ['change', 7, 9], 'py')
(3, 6, 8, 9)

In [33]:
del my_tup1

In [34]:
my_tup3 = my_tup2 + tup1
print(my_tup3)

(3, 65, ['change', 7, 9], 'py', 2, 4, 6, 7)

In [35]:
print(my_tup3 * 3)

(3, 65, ['change', 7, 9], 'py', 2, 4, 6, 7, 3, 65, ['change', 7, 9], 'py', 2, 4, 6, 7, 3, 65, ['change', 7, 9], 'py', 2, 4, 6, 7)

In [4]:
#Set
my_set = {10,5,1,8}
print(my_set)

{8, 1, 10, 5}

In [10]:
my_set1 = {1,"dinesh",3,5, "set_ex", 43,1,1,1}
print(my_set1)

{1, 'dinesh', 3, 5, 'set_ex', 43}

In [14]:
my_set2 = set([4,7,8,"example",21])
print(my_set2)
print(type(my_set2))

{4, 7, 8, 'example', 21}
<class 'set'>

In [15]:
my_set3 = {3,4,6,[3,6]}
print(my_set3)

TypeError: unhashable type: 'list'

In [17]:
my_set4 = {}
print(type(my_set4))
my_set4 = set()
print(type(my_set4))

<class 'dict'>
<class 'set'>

In [19]:
print(my_set1)
my_set1.add(13)
print(my_set1)
my_set1.update(["hello",6,7])
print(my_set1)

{1, 'dinesh', 3, 5, 'set_ex', 43, 13}
{1, 'dinesh', 3, 5, 'set_ex', 43, 13}
{1, 3, 5, 6, 7, 13, 'dinesh', 43, 'hello', 'set_ex'}

In [23]:
my_set1.discard(43)
print(my_set1)
my_set1.remove(7)
print(my_set1)

{1, 3, 5, 6, 7, 'dinesh', 'hello', 'set_ex'}
{1, 3, 5, 6, 'dinesh', 'hello', 'set_ex'}

In [25]:
my_set1.pop()
print(my_set1)
my_set1.clear()
print(my_set1)

{5, 6, 'dinesh', 'hello', 'set_ex'}
set()

In [27]:
print(my_set1 | my_set2) #union

{4, 21, 7, 8, 'example'}

In [28]:
A = {1,2,3,4,5}
B = {4,5,8,9,0}
print(A | B) # Union pipe

{0, 1, 2, 3, 4, 5, 8, 9}

In [29]:
print(A & B) #intersection ambersand

{4, 5}

In [32]:
print(A - B)
print(B - A) #difference minus

{1, 2, 3}
{0, 8, 9}

In [33]:
print(A ^ B) # symmetric difference power

{0, 1, 2, 3, 8, 9}

In [3]:
#Dictionary
my_dict = {1:"Python", 2:"Class", 3:"Weekday"}
print(my_dict)
print(type(my_dict))

{1: 'Python', 2: 'Class', 3: 'Weekday'}
<class 'dict'>

In [4]:
my_dict1 = {'pyt':'python',1:[3,5,8,1]}
print(my_dict1)

{'pyt': 'python', 1: [3, 5, 8, 1]}

In [5]:
my_dict2 = dict({1:"go", 2:"for"})
print(my_dict2

{1: 'go', 2: 'for'}

In [7]:
my_dict3 = dict([(1, 4), (2, 5)])
print(my_dict3)

{1: 4, 2: 5}

In [9]:
my_dict4 = {1: "this", 2: "is", 3: "python", 4:"class", 5:{'a': "welcome", 'b': "to"}}
print(my_dict4)

{1: 'this', 2: 'is', 3: 'python', 4: 'class', 5: {'a': 'welcome', 'b': 'to'}}

In [13]:
my_dict[2] = "Monday"
print(my_dict)
my_dict4[4] = {'A':"FITA", 'B': "Academy"}
print(my_dict4)
my_dict4[6] = "Level 1"
print(my_dict4)

{1: 'Python', 2: 'Monday', 3: 'Weekday'}
{1: 'this', 2: 'is', 3: 'python', 4: {'A': 'FITA', 'B': 'Academy'}, 5: {'a': 'welcome', 'b': 'to'}}
{1: 'this', 2: 'is', 3: 'python', 4: {'A': 'FITA', 'B': 'Academy'}, 5: {'a': 'welcome', 'b': 'to'}, 6: 'Level 1'}

In [18]:
print(my_dict4[5])
print(my_dict4.get(3))
print(my_dict4[4]['A'])

{'a': 'welcome', 'b': 'to'}
python
FITA

In [21]:
my_dict5 = input(dict())
print(my_dict5)

{} 4,6,3

4,6,3

In [39]:
print(my_dict4)
my_dict4.pop(5,'a')
print(my_dict4)

{1: 'this', 3: 'python', 6: 'Level 1'}
{1: 'this', 3: 'python', 6: 'Level 1'}

In [40]:
my_dict4 = {1: "this", 2: "is", 3: "python", 4:"class", 5:{'a': "welcome", 'b': "to"}}

In [42]:
del my_dict4[5]['b']
print(my_dict4)

{1: 'this', 2: 'is', 3: 'python', 4: 'class', 5: {'a': 'welcome'}}

In [45]:
my_dict6 = my_dict3 | my_dict4
print(my_dict6)
def

{1: 'this', 2: 'is', 3: 'python', 4: 'class', 5: {'a': 'welcome'}}