In [17]:
#Tuple
my_tup = ()
print(my_tup)
tup1 = 2,4,6,7,
my_tup = (1,2,3,4,5)
my_tup1 = (323, "tuple class", 4.6)
my_tup2 = (3,65,[4,7,9],"py")
print(my_tup)
print(my_tup1)
print(my_tup2)

#packing
a,b,c,d = tup1
print(tup1)
print(b)

my_sing= ("hello",)
print(my_sing)

()
(1, 2, 3, 4, 5)
(323, 'tuple class', 4.6)
(3, 65, [4, 7, 9], 'py')
(2, 4, 6, 7)
4
('hello',)

In [22]:
print(my_tup1[2])
print(my_tup2[2][2])
print(my_tup2[-2][1])

4.6
9
7

In [25]:
print(my_tup1[1:])
print(my_tup1[0:1])
print(my_tup2[-2:])
print(my_tup2[-2][1:])

('tuple class', 4.6)
(323,)
([4, 7, 9], 'py')
[7, 9]

In [30]:
my_tup2[2][0] = "change"
print(my_tup2)
my_tup1 = (3,6,8,9)
print(my_tup1)

(3, 65, ['change', 7, 9], 'py')
(3, 6, 8, 9)

In [33]:
del my_tup1

In [34]:
my_tup3 = my_tup2 + tup1
print(my_tup3)

(3, 65, ['change', 7, 9], 'py', 2, 4, 6, 7)

In [35]:
print(my_tup3 * 3)

(3, 65, ['change', 7, 9], 'py', 2, 4, 6, 7, 3, 65, ['change', 7, 9], 'py', 2, 4, 6, 7, 3, 65, ['change', 7, 9], 'py', 2, 4, 6, 7)

In [4]:
#Set
my_set = {10,5,1,8}
print(my_set)

{8, 1, 10, 5}

In [10]:
my_set1 = {1,"dinesh",3,5, "set_ex", 43,1,1,1}
print(my_set1)

{1, 'dinesh', 3, 5, 'set_ex', 43}

In [14]:
my_set2 = set([4,7,8,"example",21])
print(my_set2)
print(type(my_set2))

{4, 7, 8, 'example', 21}
<class 'set'>

In [15]:
my_set3 = {3,4,6,[3,6]}
print(my_set3)

TypeError: unhashable type: 'list'

In [17]:
my_set4 = {}
print(type(my_set4))
my_set4 = set()
print(type(my_set4))

<class 'dict'>
<class 'set'>

In [19]:
print(my_set1)
my_set1.add(13)
print(my_set1)
my_set1.update(["hello",6,7])
print(my_set1)

{1, 'dinesh', 3, 5, 'set_ex', 43, 13}
{1, 'dinesh', 3, 5, 'set_ex', 43, 13}
{1, 3, 5, 6, 7, 13, 'dinesh', 43, 'hello', 'set_ex'}

In [23]:
my_set1.discard(43)
print(my_set1)
my_set1.remove(7)
print(my_set1)

{1, 3, 5, 6, 7, 'dinesh', 'hello', 'set_ex'}
{1, 3, 5, 6, 'dinesh', 'hello', 'set_ex'}

In [25]:
my_set1.pop()
print(my_set1)
my_set1.clear()
print(my_set1)

{5, 6, 'dinesh', 'hello', 'set_ex'}
set()

In [27]:
print(my_set1 | my_set2) #union

{4, 21, 7, 8, 'example'}

In [28]:
A = {1,2,3,4,5}
B = {4,5,8,9,0}
print(A | B) # Union pipe

{0, 1, 2, 3, 4, 5, 8, 9}

In [29]:
print(A & B) #intersection ambersand

{4, 5}

In [32]:
print(A - B)
print(B - A) #difference minus

{1, 2, 3}
{0, 8, 9}

In [33]:
print(A ^ B) # symmetric difference power

{0, 1, 2, 3, 8, 9}

In [3]:
#Dictionary
my_dict = {1:"Python", 2:"Class", 3:"Weekday"}
print(my_dict)
print(type(my_dict))

{1: 'Python', 2: 'Class', 3: 'Weekday'}
<class 'dict'>

In [4]:
my_dict1 = {'pyt':'python',1:[3,5,8,1]}
print(my_dict1)

{'pyt': 'python', 1: [3, 5, 8, 1]}

In [5]:
my_dict2 = dict({1:"go", 2:"for"})
print(my_dict2

{1: 'go', 2: 'for'}

In [7]:
my_dict3 = dict([(1, 4), (2, 5)])
print(my_dict3)

{1: 4, 2: 5}

In [9]:
my_dict4 = {1: "this", 2: "is", 3: "python", 4:"class", 5:{'a': "welcome", 'b': "to"}}
print(my_dict4)

{1: 'this', 2: 'is', 3: 'python', 4: 'class', 5: {'a': 'welcome', 'b': 'to'}}

In [13]:
my_dict[2] = "Monday"
print(my_dict)
my_dict4[4] = {'A':"FITA", 'B': "Academy"}
print(my_dict4)
my_dict4[6] = "Level 1"
print(my_dict4)

{1: 'Python', 2: 'Monday', 3: 'Weekday'}
{1: 'this', 2: 'is', 3: 'python', 4: {'A': 'FITA', 'B': 'Academy'}, 5: {'a': 'welcome', 'b': 'to'}}
{1: 'this', 2: 'is', 3: 'python', 4: {'A': 'FITA', 'B': 'Academy'}, 5: {'a': 'welcome', 'b': 'to'}, 6: 'Level 1'}

In [18]:
print(my_dict4[5])
print(my_dict4.get(3))
print(my_dict4[4]['A'])

{'a': 'welcome', 'b': 'to'}
python
FITA

In [21]:
my_dict5 = input(dict())
print(my_dict5)

{} 4,6,3

4,6,3

In [39]:
print(my_dict4)
my_dict4.pop(5,'a')
print(my_dict4)

{1: 'this', 3: 'python', 6: 'Level 1'}
{1: 'this', 3: 'python', 6: 'Level 1'}

In [40]:
my_dict4 = {1: "this", 2: "is", 3: "python", 4:"class", 5:{'a': "welcome", 'b': "to"}}

In [42]:
del my_dict4[5]['b']
print(my_dict4)

{1: 'this', 2: 'is', 3: 'python', 4: 'class', 5: {'a': 'welcome'}}

In [45]:
my_dict6 = my_dict3 | my_dict4
print(my_dict6)

{1: 'this', 2: 'is', 3: 'python', 4: 'class', 5: {'a': 'welcome'}}

9 Nov 2022

In [3]:
a = []
b = 5
print(bool(a))

False

In [7]:
a = 50
b = 75
if(a<b):
    print("A is greater")
else:
    print("B is greater")

A is greater

In [22]:
x = 19  #Nested if
if(x == 19):
    if(x > 15):
        print("x is smaller")
    if(x > 15):
        print("x is greater than 10")
    else:
        print(x)

x is smaller
x is greater than 10

In [23]:
y = 13 #if-else-if ladder
if(y == 20):
    print("y is 20")
elif(y == 15):
    print("y is 15")
elif(y == 0):
    print("y is 0")
else:
    print("this is else")

this is else

In [17]:
print(y) if y < 10 else print("y is not 0")

y is not 0

In [30]:
#Chaining comparison operators
a = 16
print(1< a <15) #1<a and a<15
print(a > 10 < a*5 < 120)#x>a and less than 16*5 and less than 125 
print(a == 16 > 15)

False
True
True

In [32]:
#For loop
forlist = ["fita", "academy", "python"]
for x in forlist:
    print(x)
print(forlist)

fita
academy
python
['fita', 'academy', 'python']

In [36]:
s = "this is python class"
for x in s:
    print(x)

t
h
i
s

i
s

p
y
t
h
o
n

c
l
a
s
s

In [41]:
a = [1,4,6,2]
for x in a:
    print(x)

1
4
6
2

10 Nov

In [2]:
c = 0
while(c<5):
    c= c + 1
    print(c)
    print("this is while")

1
this is while
2
this is while
3
this is while
4
this is while
5
this is while

In [3]:
a = [1,2,3,4]
x = 0
while x < len(a):
    print(a[x])
    x+=1

1
2
3
4

In [5]:
a = 0
b = "FITA ACADEMY"
while a < len(b):
    if b[a] == 'D' or b[a] == 'Y':
        a+=1
        break
    print('current one', b[a])
    a+=1

current one F
current one I
current one T
current one A
current one
current one A
current one C
current one A

In [9]:
x = 4
i = 'name'
while x < len(i):
    print(i[x])
    pass

In [12]:
i = 5
while i <5:
    i+=1
    print(i)
else:
    print("this is else")

this is else

In [13]:
for a,b in enumerate(["python", "java", "selenium"]):
    print(a,b)

0 python
1 java
2 selenium

In [16]:
courses = ['python', 'java', 'RPA']
students = ['guna', 'kural' ,'Mani']

for courses, students in zip(courses, students):
    print('What is your {1}? I am {0}.'.format(courses, students))

What is your guna? I am python.
What is your kural? I am java.
What is your Mani? I am RPA.

In [21]:
x = [2,4,6,1,2,10,9,7]
for i in sorted(x):
    print(i, end=' ')
for i in reversed(x):
    print(i, end = ' ')
print(sorted(x, reverse=True))

1 2 2 4 6 7 9 10 7 9 10 2 1 6 4 2 [10, 9, 7, 6, 4, 2, 2, 1]

In [33]:
x = [1,2,3,4]
for i in range(1):
    x.append(5)
print(x)

[1, 2, 3, 4, 5]

In [ ]:
a = [1,2,3]
n = 0
for i in a:
    if len(str(i)) < 2:
        a.insert(i,n)
print(a)

14 Nov

In [5]:
#Functions
def add(n1, n2): #n1, n2 are parameters
    n3 = n1+n2
    return n3
n1, n2 = 5, 10
a = add(n1, n2)
print(a)

15

In [6]:
def Oddeven(x):
    if(x%2==0):
        print("even")
    else:
        print("odd")

Oddeven(5) #arguments

odd

In [7]:
a = int(input("enter start"))
b = int(input("enter end"))

for n in range(a, b+1):
    if n % 2 == 0:
        print(n, end = " ")

enter start 2
enter end 16

2 4 6 8 10 12 14 16

In [10]:
def Oddeven(a, b):
    if a>b:
        return
    print(a, end=" ")
    return Oddeven(a+2,b)

a=4; b=15
Oddeven(a,b)

4 6 8 10 12 14

In [20]:
def din(x, y = 5):  #default argument
    print(x)
    print(y)

din(10)
din("asdf",7)
din(x = "python")
din(y=100, x="json")

10
5
asdf
7
python
5
json
100

In [28]:
def tna(): #generators
    yield 4
    yield 2
    yield 1
for a in tna():
    print(a)
x = tna()
print(next(x))
print(next(x))
print(next(x))

4
2
1
4
2
1

In [29]:
#lambda
def squ(x):
    return x*x

lambda_squ = lambda n: n * 2

print(squ(4))

print(lambda_squ(4))

16
8