In [1]:
#Strings
string1 = "Python class"
string2 = "Student is Bharath"
print(string1)
print(string2)

Python class
Student is Bharath

In [3]:
print(string1[3]) #Accessing the strings using index
print(string2[-4])

h
r

In [4]:
print(string1[::-1]) #reversing using index

ssalc nohtyP

In [7]:
#slicing
print(string1[1:8])
print(string1[3:-2])

ython c
hon cla

In [16]:
#Update and Delete
a = 53
print(type(a))
name = "bharath"
print(type(name))
print(string1)
string1 = "python class at weekends"
print(string1)
string3 = string1[12:15] + string1[16:]
print(string3)
del string3

<class 'int'>
<class 'str'>
python class at weekends
python class at weekends
 atweekends

In [18]:
print("\n This is String class" "\t", string1 )

 This is String class	 python class at weekends

In [22]:
string4 = "{1} {0} {2}".format('python','class','saturday')
print(string4)

class python saturday

In [32]:
print(string1.upper())
print(string1.isspace())

PYTHON CLASS AT WEEKENDS
False

In [44]:
str5 = "class"
print(str5.find("a", 0, 10))
print(str5.rfind("s", 0, 10))

2
4

In [51]:
print(len(string1))
print(string1.count("class",0 ,25))

24
1
python class at weekends

In [52]:
print(string1.ljust(20,"-"))

python class at weekends

In [53]:
str6 = "**"
print(str6.join(string1))

p**y**t**h**o**n** **c**l**a**s**s** **a**t** **w**e**e**k**e**n**d**s

In [58]:
str7 = "***Python class***"
print(str7.strip('*'))
print(str7.rstrip('*'))

Python class
***Python class

In [61]:
print(min(str7))

In [62]:
def fun(s1,s2):
    if(sorted(s1)==sorted(s2)):
        print("anagram")
    else:
        print("it is not anagramm")

s1 = "tab"
s2 = "bat"
fun(s1,s2)

anagram

In [5]:
#list
mylist1 = [1,4,6,8,0] #creating the list
mylist2 = [] #empty list
print(mylist1) #printing the list
print(type(mylist1)) #finding the datatype
print(type(mylist2))

[1, 4, 6, 8, 0]
<class 'list'>
<class 'list'>

In [8]:
mylist2 = [4,12.5,"python"]
print(mylist2)

[4, 12.5, 'python']

In [10]:
mylist3 = [3,5,["java","python"],10,4.5,10] #Nested list
print(mylist3)

[3, 5, ['java', 'python'], 10, 4.5, 10]

In [13]:
#Accessing the list elements
print(mylist1[3])
print(mylist2[2])
print(mylist3[2])
#negative indexing
print(mylist1[-1])
print(mylist2[-2])
print(mylist3[-3])
#nested list access
print(mylist3[2][1])

8
python
['java', 'python']
0
12.5
10
python

In [15]:
mylist4 = [["gopi","vinoth"],[3,7],["chennai","kochin"]] #multidimensional list
print(mylist4)
print(mylist4[2])
print(mylist4[0][1])

[['gopi', 'vinoth'], [3, 7], ['chennai', 'kochin']]
['chennai', 'kochin']
vinoth

In [17]:
mylist5 = input("Enter the data: ")
conli = mylist5.split()
print(conli)
print(type(conli))

Enter the data:  python, java

['python,', 'java']
<class 'list'>

In [18]:
print(len(mylist1))
print(len(mylist2))
print(len(mylist3))
print(len(mylist4))

5
3
6
3

In [19]:
mylist1.append(50)
mylist2.append(9.5)
mylist3.append("sunday class")
mylist4.append(34)
print(mylist1)
print(mylist2)
print(mylist3)
print(mylist4)

[1, 4, 6, 8, 0, 50]
[4, 12.5, 'python', 9.5]
[3, 5, ['java', 'python'], 10, 4.5, 10, 'sunday class']
[['gopi', 'vinoth'], [3, 7], ['chennai', 'kochin'], 34]

In [20]:
mylist1.insert(4,25)
print(mylist1)

[1, 4, 6, 8, 25, 0, 50]

In [21]:
mylist1.extend(["weekend","10AM",2])
print(mylist1)

[1, 4, 6, 8, 25, 0, 50, 'weekend', '10AM', 2]

In [24]:
mylist5 = mylist1
mylist5.reverse()
print(mylist5)

[2, '10AM', 'weekend', 50, 0, 25, 8, 6, 4, 1]

In [29]:
mylist1.remove(0)
print(mylist1)

[2, 'weekend', 50, 25, 8, 6, 4, 1]

In [30]:
mylist1.pop()
print(mylist1)

[2, 'weekend', 50, 25, 8, 6, 4]

In [42]:
#slicing
print(mylist1[1:])
print(mylist1[:1])
print(mylist1[-3:])
print(mylist1[1:4])
print(mylist1[3:-2])

['weekend', 50, 25, 8, 6, 4]
[2]
[8, 6, 4]
['weekend', 50, 25]
[25, 8]

In [45]:
mylist1 = mylist1 + mylist2
print(mylist1)
mylist1 = mylist1 *2
print(mylist1)

[2, 'weekend', 50, 25, 8, 6, 4, 4, 12.5, 'python', 9.5, 4, 12.5, 'python', 9.5, 2, 'weekend', 50, 25, 8, 6, 4, 4, 12.5, 'python', 9.5, 4, 12.5, 'python', 9.5, 4, 12.5, 'python', 9.5]
[2, 'weekend', 50, 25, 8, 6, 4, 4, 12.5, 'python', 9.5, 4, 12.5, 'python', 9.5, 2, 'weekend', 50, 25, 8, 6, 4, 4, 12.5, 'python', 9.5, 4, 12.5, 'python', 9.5, 4, 12.5, 'python', 9.5, 2, 'weekend', 50, 25, 8, 6, 4, 4, 12.5, 'python', 9.5, 4, 12.5, 'python', 9.5, 2, 'weekend', 50, 25, 8, 6, 4, 4, 12.5, 'python', 9.5, 4, 12.5, 'python', 9.5, 4, 12.5, 'python', 9.5]

In [48]:
print("python" in mylist1)
print("java" in mylist1)

True
False

In [52]:
mylist1.clear()
print(mylist1)
del mylist1
print(mylist1)

NameError: name 'mylist1' is not defined